<% include ./partials/header %>
  <div class="container">
    <div class="row">
      <h1 style="text-align:center">
        Sign Up
      </h1>
      <div style="width: 30%; margin: 25px auto;">
        <form action="/register" method="POST">
          <div class="form-group">
            <input class="form-control" type="text" placeholder="username" name="username" required>
          </div>
          <div class="form-group">
            <input class="form-control" type="password" placeholder="password" name="password" autocomplete="off" required>
          </div>

          <div class="form-group">
            <input class="form-control" type="text" placeholder="first name" name="firstName" required>
          </div>
          <div class="form-group">
            <input class="form-control" type="text" placeholder="last name" name="lastName" required>
          </div>
          <div class="form-group">
            <input class="form-control" type="text" placeholder="email@email.com" name="email" required>
          </div>
          <div class="form-group">
            <input class="form-control" type="text" placeholder="avatar" name="avatar">
          </div>
          <textarea class="form-control" rows="3" maxlength="1000" type="text" id="bio" name="bio" placeholder="Bio"></textarea>
          <hr>
          <div class="form-group">
            <input class="form-control" type="text" placeholder="Admin Code" name="adminCode" autocomplete="off">
          </div>
          <hr>
          <div class="form-group">
            <button class="btn btn-large btn-primary btn-block">Register</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <% include ./partials/footer %>